<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Codo a Codo</h3>
            <p>https://github.com/jeimy09/jeimy09.github.io</p>
            <p>https://github.com/jeimy09/One-page</p>
            <p>https://github.com/jeimy09/Basic-landing</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/diseño web.jpg" class="img-fluid img-proyecto">
        </div>
    </div>

</div>
